apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: transport-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: ghcr.io/khaoula2109/api-gateway:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8081
        env:
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: jwt-secret
        - name: SERVICES_USER_URL
          value: "http://user-service:8080"
        - name: SERVICES_SUBSCRIPTION_URL
          value: "http://subscription-service:3000"
        - name: SERVICES_TICKETS_URL
          value: "http://tickets-service:8082"
        - name: SERVICES_ROUTES_URL
          value: "http://routes-service:8083"
        - name: SERVICES_GEOLOCATION_URL
          value: "http://geolocation-service:5000"
        - name: SPRING_PROFILES_ACTIVE
          value: "docker"
        - name: LOGGING_LEVEL_ROOT
          value: "INFO"
        - name: LOGGING_LEVEL_GATEWAY
          value: "DEBUG"
        - name: SPRING_RABBITMQ_HOST
          value: "rabbitmq-service"
        - name: SPRING_RABBITMQ_PORT
          value: "5672"
        - name: SPRING_RABBITMQ_USERNAME
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: rabbitmq-username
        - name: SPRING_RABBITMQ_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: rabbitmq-password
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: transport-prod
spec:
  type: LoadBalancer
  selector:
    app: api-gateway
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8081
